Pip install flask
pip install flask-sqlalchemy
pip install qrcode
pip install pillow
pip install opencv-python
pip install numpy
pip install pyzbar
pip install db-sqlite3
pip install pysqlite3
pip install flaskwebgui
pip install pyvan
pip install python-dateutil
pip install XlsxWriter
pip install flask-caching
pip install pyautogui
pip install jproperties
pip install fiscalyear
pip install pdfkit
pip install wkhtmltopdf