<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spacters Invoice Design</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/invoice.css" media="all" />


  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
    <img src="http://127.0.0.1:5000/static/img/logo.png">
      </div>
      <div id="company">
        {% for each in SHOP_DEATILS_FOR_HEADER_INFORMATION %}
        <h2 class="name">{{each["Shop_Name"]}}</h2>
        <div>{{each["Address"]}}</div>
        <div>{{each["City"]}}, {{each["State"]}} {{each["PinCode"]}} </div>
        <div> {% if each["Contact_No1"] is not none and each["Contact_No1"]!='' %} {{each["Contact_No1"]}}   {% endif %} {% if   each["Contact_No2"] is not none and each["Contact_No2"]!='' %} | {{each["Contact_No2"]}}  {% endif %}</div>
        <div> {% if each["Email"] is not none and each["Email"]!='' %}  {{each["Email"]}} {% endif %}</div>
        <div>GSTN No. : {{each["GSTIN"]}}</div>
        {% endfor %}
      </div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          {% for each in INVOICE_INFO %}
          <div class="to">INVOICE TO :</div>
          <h2 class="name">{{each["ClientName"]}}</h2>
          <div class="address">{{each["Address"]}} </div>
          <div class="address">{{each["city"]}},{{each["state"]}}.{{each["pincode"]}}</div>
          <div class="address">{{each["contact_no"]}}   {% if   each["email"] is not none and each["email"]!='' %} | {{each["email"]}}                             {% endif %}</div>
          <div style="font-weight:500;color:#575757">   {% if  each["PAN_NO"] is not none and each["PAN_NO"]!='' %} PAN No. &nbsp;&nbsp;&nbsp;:&nbsp; {{each["PAN_NO"]}} {% endif %}</div>
          <div style="font-weight:500;color:#575757">   {% if each["GSTIN"] is not none and each["GSTIN"]!='' %} GSTN No. : {{each["GSTIN"]}}                      {% endif %}</div>
          {% endfor %}
        </div>
        <div id="invoice">
          {% for each in INVOICE_INFO %}
          <h3>INVOICE {{each["Invoice_NO"]}}</h3>
          <div class="date">Date of Invoice : {{each["Invoice_Date"]}}</div>
          <div class="date">Place of supply : {{each["Place_of_supply"]}}</div>
          {% endfor %}
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th ></th>
            <th class="qty" >ITEM</th>
            <th class="qty">PRICE</th>
            <th class="qty">QTY.</th>
            <th class="qty">CGST</th>
            <th class="qty">SGST</th>
            <th class="qty">IGST</th>
            <th class="qty">Cess</th>
            <th class="qty">DISC.</th>
            <th class="qty">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for each in BUCKET_ITEM_FOR_INVOICE %}
          <tr>
            <td >{{each["SrNo"]}}</td>
            <td class="desc"><h3>{{each["Product_name"]}}</h3>{% if each["Product_Discription"] is not none and each["Product_Discription"]!='' %} {{each["Product_Discription"]}} {% endif %} {% if each["Product_Discription"] is none or each["Product_Discription"]=='' %} NA {% endif %}</td>
            <td class="unit">₹{{each["Sell_Price"]}}</td>
            <td class="qty">{{each["Qty"]}}</td>
            <td class="qty">{{each["CGST"]}}%</td>
            <td class="qty">{{each["SGST"]}}%</td>
            <td class="qty">{{each["IGST"]}}%</td>
            <td class="qty">{{each["Cess"]}}%</td>
            <td class="qty">{{each["Discount"]}}%</td>
            <td class="total" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{each["Amount"]}}</td>
          </tr>
          {% endfor %}

        </tbody>
        <tfoot>
          <!-- For Short Invoices (**Start Here**) -->
              {% if InvoiceType=='Short' %}
          <tr class="random_border">

                   {% for each in PAYMENT_MODE_INFO_FOR_INVOICE_BILL %}
                   {% if each["Payment_Mode"]!='' and each["Payment_Mode"] is not none %} <td colspan="6"   class="random_border" style="text-align:left">Mode Of Payment :   <span style="color:#7c7c7c;" > {{each["Payment_Mode"]}} </span></td>{% endif %}
                   {% if each["Payment_Mode"]=='' or each["Payment_Mode"] is none %} <td colspan="6"   class="random_border" style="text-align:left">Mode Of Payment :   <span style="color:#7c7c7c;" > NA </span></td>{% endif %}
                   {% endfor %}

                   {% if  PAYMENT_MODE_INFO_FOR_INVOICE_BILL|length == 0  %}
                   <td colspan="6"  class="random_border" style="text-align:left">Mode Of Payment :   <span style="color:#7c7c7c;" >  NA </span></td>
                   {% endif %}

                <td colspan="3" class="random_border">DISCOUNT</td>
                {% for each in INVOICE_INFO %}

                {% if each["Apply_Discount"]=='false' %}
                <td class="random_border" style="text-align:left">0% OFF</td>
                {% endif %}

                {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]!=0 and each["Dis_in_percent"]==0 %}
                <td class="random_border" style="text-align:left">₹{{each["Dis_in_amount"]}} OFF</td>
                {% endif %}

                {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]==0 and each["Dis_in_percent"]!=0 %}
                <td class="random_border" style="text-align:left">{{each["Dis_in_percent"]}}% OFF</td>
                {% endif %}

                {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]==0 and each["Dis_in_percent"]==0 %}
                <td class="random_border" style="text-align:left">0% OFF</td>
                {% endif %}

                {% endfor %}
              </tr>

          <tr class="random_border">

            {% for each in PAYMENT_MODE_INFO_FOR_INVOICE_BILL %}
            {% if each["Txn_NO"]!='' and each["Txn_NO"] is not none %} <td colspan="6"   class="random_border" style="text-align:left"> Transaction No &nbsp;&nbsp;&nbsp; :   <span style="color:#7c7c7c;" > {{each["Txn_NO"]}} </span></td>{% endif %}
            {% if each["Txn_NO"]=='' or each["Txn_NO"] is none %} <td colspan="6"   class="random_border" style="text-align:left"> Transaction No &nbsp;&nbsp; :   <span style="color:#7c7c7c;" > NA </span></td>{% endif %}
            {% endfor %}

            {% if  PAYMENT_MODE_INFO_FOR_INVOICE_BILL|length == 0  %}
            <td colspan="6"  class="random_border" style="text-align:left"> Transaction No &nbsp;&nbsp; :   <span style="color:#7c7c7c;" >  NA </span></td>
            {% endif %}


            <td colspan="3" class="random_border">SHIPPING</td>
            {% for each in INVOICE_INFO %}

            {% if each["Apply_Shipping"]=='false' %}
            <td style="text-align:left;border:1px solid #000">₹0</td>
            {% endif %}

            {% if each["Apply_Shipping"]=='true'%}
            <td style="text-align:left;border:1px solid #000" >₹{{each["Shipping_Amount"]}}</td>
            {% endif %}

            {% endfor %}

          </tr>

          <tr class="random_border">
            <td colspan="6"></td>
            <td colspan="3" class="random_border">SUBTOTAL</td>
          {% for each in INVOICE_INFO %}
            <td style="text-align:left">₹{{each["Sub_Total_Amount"]}}</td>
          {% endfor %}
          </tr>

          <tr class="random_border">
            <td colspan="6" style="font-size:13px;text-align:left">Amt. in words : {{AmountInWords}} Only</td>
            <td colspan="3" style="background:#EEE">GRAND TOTAL</td>
            {% for each in INVOICE_INFO %}
            <td style="text-align:left;background:#EEE">₹{{each["Total_Amount"]}}</td>
            {% endfor %}
          </tr>
        </tfoot>

        {% endif %}

        <!-- For Detailed Invoices (**Start Here**) -->
            {% if InvoiceType=='Detailed' %}

                  <tr class="random_border">
                    <td colspan="6" ></td>
                    <td colspan="3">DISCOUNT</td>
                    {% for each in INVOICE_INFO %}

                                    {% if each["Apply_Discount"]=='false' %}
                                    <td class="random_border" style="text-align:left">0% OFF</td>
                                    {% endif %}

                                    {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]!=0 and each["Dis_in_percent"]==0 %}
                                    <td class="random_border" style="text-align:left">₹{{each["Dis_in_amount"]}} OFF</td>
                                    {% endif %}

                                    {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]==0 and each["Dis_in_percent"]!=0 %}
                                    <td class="random_border" style="text-align:left">{{each["Dis_in_percent"]}}% OFF</td>
                                    {% endif %}

                    {% endfor %}
                  </tr>

                  <tr class="random_border">
                    <td colspan="6"></td>
                    <td colspan="3">SHIPPING</td>
                    {% for each in INVOICE_INFO %}

                    {% if each["Apply_Shipping"]=='false' %}
                    <td style="text-align:left;border:1px solid #000">₹0</td>
                    {% endif %}

                    {% if each["Apply_Shipping"]=='true'%}
                    <td style="text-align:left;border:1px solid #000" >₹{{each["Shipping_Amount"]}}</td>
                    {% endif %}

                    {% endfor %}
                  </tr>

                  <tr class="random_border">
                    <td colspan="6" ></td>
                    <td colspan="3" >SUBTOTAL</td>
                  {% for each in INVOICE_INFO %}
                    <td style="text-align:left;border:1px solid #000">₹{{each["Sub_Total_Amount"]}}</td>
                  {% endfor %}
                  </tr>

                  <tr class="random_border" >
                    <td colspan="6" style="color:#000;font-size:13px;background:#EEE;text-align:left;" >In Words : {{AmountInWords}} Only</td>
                    <td colspan="3" style="background:#EEE">NET PAYABLE</td>
                    {% for each in INVOICE_INFO %}
                    <td style="text-align:left;background:#EEE">₹{{each["Total_Amount"]}}</td>
                    {% endfor %}
                  </tr>
                  <tr style="color:green" class="random_border">
                    <td colspan="6"></td>
                    <td colspan="3">AMOUNT PAID</td>
                    {% for each in INVOICE_INFO %}
                    <td style="text-align:left">- ₹{{each["Amount_Paid"]}}</td>
                    {% endfor %}
                  </tr>
                  <tr class="random_border">
                    <td colspan="6"></td>
                    <td colspan="3"  style="color:#bf2020">BALANCE AMOUNT</td>
                    {% for each in INVOICE_INFO %}
                    <td style="text-align:left;color:#bf2020">₹{{each["Balance_Amount"]}}</td>
                    {% endfor %}
                  </tr>
                </tfoot>
           {% endif %}

              </table>

          {% if InvoiceType=='Detailed' %}

          <br>
          <span style="font-size:14px;">PAYMENT INFORMATION :-</span>
          <br> <br>
                 <table  style="border: 1px solid #EEE;">
                <thead >
                  <tr class="PaymentTable">
                    <th>Payment No.</th>
                    <th>Payment Mode</th>
                    <th>Txn No.</th>
                    <th>Amount Paid</th>
                    <th>Paid On</th>
                    <th>Payment Remark</th>
                  </tr>
                </thead>
                <tbody >
                  {% for each in INVOICE_INVOICES_INFO %}
                  <tr class="PaymentTable">
                    <td>{{each["SrNo"]}}</td>

                    {% if each["Payment_Mode"]!='' %}<td>{{each["Payment_Mode"]}}</td> {% endif %}
                    {% if each["Payment_Mode"]=='' %}<td>-</td> {% endif %}

                    {% if each["Txn_NO"]!='' %}<td>{{each["Txn_NO"]}}</td> {% endif %}
                    {% if each["Txn_NO"]=='' %}<td>-</td> {% endif %}

                    <td style="text-align:left">&nbsp;&nbsp; &nbsp;₹{{each["Amount_Paid"]}}</td>
                    <td>{{each["Paid_on"]}}</td>
                    <td>{{each["Remarks"]}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
           {% endif %}
        <!-- For Detailed Invoices (**End Here**) -->


      </table>

      <br><br>
      <div id="thanks">Thank you!</div>
      <h4 style="text-align:right;margin-right:50px;"><span style="border-top:2px solid #000">Authorised Signature</span></h4>
      <div id="notices">
        <div>&nbsp; &nbsp; Terms & Conditions:</div>
        <div class="notice">
          <ol>
            {% for each in INVOICE_TERMS_INFO %}
              <li class="text-justify">{{each["Terms"]}}</li>
            {% endfor %}
        </ol>
        </div>
      </div>
    </main>
  </body>
</html>
