<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Spacters Quotation Design</title>
    <link rel="stylesheet" href="http://127.0.0.1:5000/static/css/invoice.css" media="all" />


  </head>
  <body>
    <header class="clearfix">
      <div id="logo">
    <img src="http://127.0.0.1:5000/static/img/logo.png">
      </div>
      <div id="company">
        {% for each in SHOP_DEATILS_FOR_HEADER_INFORMATION %}
        <h2 class="name">{{each["Shop_Name"]}}</h2>
        <div>{{each["Address"]}}</div>
        <div>{{each["City"]}}, {{each["State"]}} {{each["PinCode"]}} </div>
        <div> {% if each["Contact_No1"] is not none and each["Contact_No1"]!='' %} {{each["Contact_No1"]}}   {% endif %} {% if   each["Contact_No2"] is not none and each["Contact_No2"]!='' %} | {{each["Contact_No2"]}}  {% endif %}</div>
        <div> {% if each["Email"] is not none and each["Email"]!='' %}  {{each["Email"]}} {% endif %}</div>
        <div>GSTN No. : {{each["GSTIN"]}}</div>
        {% endfor %}
      </div>
      </div>
    </header>
    <main>
      <div id="details" class="clearfix">
        <div id="client">
          {% for each in QUOTATION_INFO %}
          <div class="to">QUOTATION TO :</div>
          <h2 class="name">{{each["ClientName"]}}</h2>
          <div class="address">{{each["Address"]}} </div>
          <div class="address">{{each["city"]}},{{each["state"]}}.{{each["pincode"]}}</div>
          <div class="address">{{each["contact_no"]}}   {% if   each["email"] is not none and each["email"]!='' %} | {{each["email"]}}                             {% endif %}</div>
          <div style="font-weight:500;color:#575757">   {% if  each["PAN_NO"] is not none and each["PAN_NO"]!='' %} PAN No. &nbsp;&nbsp;&nbsp;:&nbsp; {{each["PAN_NO"]}} {% endif %}</div>
          <div style="font-weight:500;color:#575757">   {% if each["GSTIN"] is not none and each["GSTIN"]!='' %} GSTN No. : {{each["GSTIN"]}}                      {% endif %}</div>
          {% endfor %}
        </div>
        <div id="invoice">
          {% for each in QUOTATION_INFO %}
          <h3> {{each["Quotation_NO"]}}</h3>
          <div class="date">Date of Quotation : {{each["Quotation_Date"]}}</div>
          <div class="date">Place of supply : {{each["Place_of_supply"]}}</div>
          {% endfor %}
        </div>
      </div>
      <table border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th ></th>
            <th class="qty" >ITEM</th>
            <th class="qty">PRICE</th>
            <th class="qty">QTY.</th>
            <th class="qty">CGST</th>
            <th class="qty">SGST</th>
            <th class="qty">IGST</th>
            <th class="qty">Cess</th>
            <th class="qty">DISC.</th>
            <th class="qty">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          {% for each in BUCKET_ITEM_FOR_QUOTATION %}
          <tr>
            <td >{{each["SrNo"]}}</td>
            <td class="desc"><h3>{{each["Product_name"]}}</h3>{% if each["Product_Discription"] is not none and each["Product_Discription"]!='' %} {{each["Product_Discription"]}} {% endif %} {% if each["Product_Discription"] is none or each["Product_Discription"]=='' %} NA {% endif %}</td>
            <td class="unit">₹{{each["Sell_Price"]}}</td>
            <td class="qty">{{each["Qty"]}}</td>
            <td class="qty">{{each["CGST"]}}%</td>
            <td class="qty">{{each["SGST"]}}%</td>
            <td class="qty">{{each["IGST"]}}%</td>
            <td class="qty">{{each["Cess"]}}%</td>
            <td class="qty">{{each["Discount"]}}%</td>
            <td class="total" style="text-align:left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹{{each["Amount"]}}</td>
          </tr>
          {% endfor %}

        </tbody>
        <tfoot>
          <!-- For Short Invoices (**Start Here**) -->

          <tr class="random_border">
                <td colspan="6"  class="random_border" >
                </td>

                <td colspan="3" class="random_border">DISCOUNT</td>
                {% for each in QUOTATION_INFO %}

                {% if each["Apply_Discount"]=='false' %}
                <td class="random_border" style="text-align:left">0% OFF</td>
                {% endif %}

                {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]!=0 and each["Dis_in_percent"]==0 %}
                <td class="random_border" style="text-align:left">₹{{each["Dis_in_amount"]}} OFF</td>
                {% endif %}

                {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]==0 and each["Dis_in_percent"]!=0 %}
                <td class="random_border" style="text-align:left">{{each["Dis_in_percent"]}}% OFF</td>
                {% endif %}

                {% if each["Apply_Discount"]=='true' and each["Dis_in_amount"]==0 and each["Dis_in_percent"]==0 %}
                <td class="random_border" style="text-align:left">0% OFF</td>
                {% endif %}

                {% endfor %}
              </tr>

          <tr class="random_border">
            <td colspan="6"></td>
            <td colspan="3" class="random_border">SHIPPING</td>
            {% for each in QUOTATION_INFO %}

            {% if each["Apply_Shipping"]=='false' %}
            <td style="text-align:left;border:1px solid #000">₹0</td>
            {% endif %}

            {% if each["Apply_Shipping"]=='true'%}
            <td style="text-align:left;border:1px solid #000" >₹{{each["Shipping_Amount"]}}</td>
            {% endif %}

            {% endfor %}

          </tr>

          <tr class="random_border">
            <td colspan="6"></td>
            <td colspan="3" class="random_border">SUBTOTAL</td>
          {% for each in QUOTATION_INFO %}
            <td style="text-align:left">₹{{each["Sub_Total_Amount"]}}</td>
          {% endfor %}
          </tr>

          <tr class="random_border">
            <td colspan="6" style="font-size:13px;text-align:left;background:#EEE">Amt. in words : {{AmountInWords}} Only</td>
            <td class="random_border" colspan="3" style="background:#EEE">GRAND TOTAL</td>
            {% for each in QUOTATION_INFO %}
            <td class="random_border" style="text-align:left;background:#EEE">₹{{each["Total_Amount"]}}</td>
            {% endfor %}
          </tr>

     {% for each in QUOTATION_INFO %}
      {% if each["Apply_EMI"]=='true'%}
      <tr class="random_border">
        <td class="random_border" colspan="9" style="color:#000;text-align:right;background:#f5f5f5e0">NET EMI PAYABLE @ {{each.EMI_Percent}} % FOR {{each.EMI_Months}} MONTH'S</td>
        <td class="random_border" style="text-align:left;color:#000;background:#f5f5f5e0" >₹{{NET_EMI_PAYABLE}}</td>
      </tr>
      {% endif %}
  {% endfor %}


      {% for each in QUOTATION_INFO %}
         {% if each["Apply_EMI"]=='true'%}
          <tr class="random_border" >
            <td colspan="6" style="background:#fff"> </td>
            <td class="random_border" colspan="3" style="font-size:13px;background:#fff">DOWN PAYMENT</td>
              {% if each.DP_in_Amount!=0 and each.DP_in_Percent==0 %}
             <!-- DP in Amount -->
            <td class="random_border"  style="font-size:13px;text-align:left;color:#000;background:#fff"  >₹{{each.DP_in_Amount}}</td>
              {% endif %}
              {% if each.DP_in_Amount==0 and each.DP_in_Percent!=0 %}
            <!-- DP in Percent -->
            <td  class="random_border" style="font-size:13px;text-align:left;color:#000;background:#fff"  >{{each.DP_in_Percent}}% (₹{{each.Total_Amount * each.DP_in_Percent*0.01 }})</td>
              {% endif %}
          </tr>
          {% endif %}
      {% endfor %}


        </tfoot>

</table>
          <br>
          {% for each in QUOTATION_INFO %}
             {% if each["Apply_EMI"]=='true'%}
          <span style="font-size:14px;">EMI BREAKOUT :-</span>
          <br> <br>
                 <table  style="border: 1px solid #EEE;">
                <thead >
                  <tr class="PaymentTable">
                    <th>Sr. No</th>
                    <th>EMI Month</th>
                    <th>EMI amount to be paid per month</th>
                  </tr>
                </thead>
                <tbody >
                  {% for each in EMI_INFO_FOR_QUOTATION %}
                  <tr class="PaymentTable">
                    <td>{{each["SrNo"]}}</td>
                    <td>Month {{each["EMI_Month"]}}</td>
                    <td>₹{{each["EMI_Amount"]}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
           {% endif %}
        {% endfor %}

      <br><br>
      <div id="thanks">Thank you!</div>
      <h4 style="text-align:right;margin-right:50px;"><span style="border-top:2px solid #000">Authorised Signature</span></h4>
      <div id="notices">
        <div>&nbsp; &nbsp; Terms & Conditions:</div>
        <div class="notice">
          <ol>
            {% for each in INVOICE_TERMS_INFO %}
              <li class="text-justify">{{each["Terms"]}}</li>
            {% endfor %}
        </ol>
        </div>
      </div>
    </main>
  </body>
</html>
