{% extends 'base.html' %}

{% block head %}

    <script src="/static/js/staff dashboard controller/staff dashboard controller.js"></script>

  <link rel="stylesheet" href="/static/css/css2/data-table/bootstrap-table.css">
  <link rel="stylesheet" href="/static/css/css2/data-table/bootstrap-editable.css">

  <style media="screen">

    .autocomplete-items div {
        padding: 4px;
        cursor: pointer;
        background-color: #2f333e;
        color: #fff;
        border-bottom: 1px solid #7a7a7a;
        padding-left: 30px;
        width: 100%;

    }

  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover {
      z-index: 3;
      color: #fff;
      cursor: default;
      background-color: #e0e0e0;
      border-color: #d6d6d6;
      color:#000;
      font-weight:500;
    }

    .pagination>li>a, .pagination>li>span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        color: #868282;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #ddd;
      }
  </style>

    {% endblock %}

    {% block body %}



    <div class="page" style="background:white;"  ng-controller="STAFF_DASHBOARD_CONTROLLER">
      <!-- Main Navbar-->
      <!-- ================================================================================================================================================= -->
      <!-- ================================================================= Header Start =================================================================== -->
      <header class="header"  ng-controller="HEADER~CONTROLLER">
        <nav class="navbar">


          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->

              <div class="navbar-header">
                <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
              </div>

              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                <!-- Header Bar-->
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"    href="#"  data-toggle="modal" data-target="#Daily_Summary_model" ><img  src="/static/img/Header icon/data anaylsis.png" > Daily summary &nbsp; &nbsp; &nbsp; </li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"    href="#"  data-toggle="modal" data-target="#Stock_Summary_model" ><img src="/static/img/Header icon/stock.png" > Stock summary &nbsp; &nbsp; &nbsp;</li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"   href="#" data-toggle="modal" data-target="#Business_Book_model"><img src="/static/img/Header icon/business analysis.png" > Business Book  &nbsp; &nbsp; &nbsp;</li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"   href="#" data-toggle="modal" data-target="#GST_model"  ><img src="/static/img/Header icon/gst calculator.png" > GST Calculator &nbsp; &nbsp; &nbsp;</li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none" href="#" data-toggle="modal" data-target="#Calculator_model "  ><img src="/static/img/Header icon/calculator.png" > Calculator &nbsp; &nbsp; &nbsp;</li>


                <!-- Notifications-->
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i style="font-size:27px;position: relative;top:-10px" class="fa fa-bell-o"></i><span class="badge bg-red badge-corner" style="position: relative;top:-20px;">..NotificationsLength..</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu" ng-show="NotificationsLength!=0">
                    <li  ng-repeat="noti in Notifications"><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification row">
                        <div>  <i class="fa fa-bell  ml-2" style="background:red" ng-show="noti.NOTIFICATION_TYPE=='reminder'"></i> <i class="fa fa-birthday-cake  ml-2" style="background:#1ad453" ng-show="noti.NOTIFICATION_TYPE=='birthday'"></i> </div>  <div class="col notification-content text-wrap text-justify" >..noti.NOTIFICATION_MESG.. </div>
                     </div></a></li>
                  </ul>
                </li>

                <li class="nav-item d-flex align-items-center"><a class="text-decoration-none pl-1 pr-1 " ><img  src="/static/img/Header icon/online.png"  ng-show="online"> <img  src="/static/img/Header icon/offline.png"  ng-show="!online" style="width:30px;height:30px"></li>


               <!-- battery-->
                  <li class="nav-item">
                         <div class="battery mx-3" >
                           <div class="level">
                             <div class="percentage"></div>
                           </div>
                           <div class="cindtr">
                             <i id="bolt" class="fa fa-bolt boltcolor">
                             </i>
                           </div>
                         </div>
                         <!-- <div class="percent"></div>
                         <div class="ntfn"></div> -->
                </li>


                <li class="nav-item d-flex align-items-center"><a class="text-decoration-none pl-1  " data-toggle="popover" id="Information"  data-trigger="hover" data-html="true" data-placement="bottom"   data-template='<div class="popover " role="tooltip"  style="background:#000"><div class="arrow " ></div><div class="popover-body"></div></div>'  ><img  src="/static/img/Header icon/info.png" > </li>
                  <div id="InformationTemplate" class="d-none">
                     

                  </div>


                <!-- Setting    -->
                  <li class="nav-item d-flex align-items-center dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="/static/img/Header icon/settings.png"></a>
                    <ul aria-labelledby="notifications" class="dropdown-menu" style="top:60px">
                      <li><a rel="nofollow" href="/Setting/User Profile" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-user" style="background:#05a586"></i>User Profile</p>
                      </a></li>
                      <li><a rel="nofollow" href="/Setting/Shop Profile" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-building" style="background:#e8c902"></i>Shop Profile</p>
                      </a></li>
                      <li><a rel="nofollow" href="/Setting/Subscription" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-shopping-cart" style="background:#02b811"></i>Subscription</p>
                      </a></li>
                      <li><a rel="nofollow" href="/Setting/Terms & Condition" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-bandcamp" style="background:#0244b8"></i>Set Terms & Condition</p>
                      </a></li>
                    </ul>
                  </li>

                <li class="nav-item"><a href="#" class="nav-link logout" ng-click="shutdownServer()"  ><img src="/static/img/Header icon/power.png"></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- ================================================================= Header End =================================================================== -->
      <!-- ================================================================================================================================================= -->

      <div class="page-content d-flex align-items-stretch" >
        <!-- Side Navbar -->
        <!-- ================================================================================================================================================= -->
        <!-- ================================================================= Menu Start =================================================================== -->
          <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
               <a href="/Setting/User Profile" class="text-decoration-none"><div class="avatar"><img src="/static/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div></a>
              <div class="title">
                  <a href="/Setting/User Profile" class="text-decoration-none"><h1 class="h4 text-capitalize" id="OWNER_NAME"></h1></a>
                <p>Owner </p>
              </div>
            </div>
            <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
              <li class=" list_color"><a href="/"> <i class="icon-home"></i><b>Home </b></a></li>
              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Sale"> <i class="icon icon-check"></i><b>Sale</b></a>
                <ul id="Sale" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/AddNewInvoice.do">Add New Invoice</a></li>
                  <li ><a href="/ManageInvoice.do">Manage Invoices</a></li>
                  <li><a href="/SaleAnalysis/1998">Sale Analysis <i class="icon icon-presentation pl-4"></i> </a></a></li>
                  <li><a href="/ManageQuotation.do">Manage Quotation</a></li>
                </ul>
              </li>
              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Purchase"> <i class="icon icon-bill"></i><b>Purchase</b></a>
                <ul id="Purchase" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/AddNewPurchase.do">Add Purchase Bill</a></li>
                  <li><a href="/ManagePurchaseBill.do">Manage Purchase Bill</a></li>
                  <li><a href="/PurchaseAnalysis/1998">Purchase Analysis<i class="icon icon-presentation pl-1"></i> </a></a></li>
                </ul>
              </li>
              <li class="  list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Client"> <i class="icon icon-user"></i><b>Client / Suppliers</b></a>
                <ul id="Client" class="collapse list-unstyled Drop_list_color ">
                  <li class="active"><a href="/ClientDashboard">Client Dashboard</a></li>
                  <li ><a href="/ClientAnalysis/1998">Client Analysis <i class="icon icon-presentation pl-4"></i> </a></li>
                  <li><a href="/SupplierDashboard">Supplier Dashboard</a></li>
                      <li><a href="/SupplierAnalysis/1998">Supplier Analysis <i class="icon icon-presentation pl-2"></i> </a></li>
                </ul>
              </li>
              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Inventory"> <i class="icon icon-grid"></i><b>Inventory</b></a>
                <ul id="Inventory" class="collapse list-unstyled Drop_list_color">
                  <li><a href="/StockDashboard">Stock Dashboard</a></li>
                  <li><a href="/InventoryDashboard">Inventory Dashboard</a></li>
                </ul>
              </li>

              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Report"> <i class="fa fa-bar-chart"></i><b>Report</b></a>
                <ul id="Report" class="collapse list-unstyled Drop_list_color">
                  <li><a href="/PaymentReport">Payment</a></li>
                  <li><a href="/StockReport">Stock</a></li>
                  <li><a href="/SaleReport">Sales</a></li>
                  <li><a href="/PurchaseReport">Purchase</a></li>
                  <li><a href="/ClientReport">Client</a></li>
                  <li><a href="/SupplierReport">Supplier</a></li>
                  <li><a href="/TransactionReport">Transaction</a></li>
                </ul>
              </li>

              <li class=" active list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Staff"> <i class="icon icon-user"></i><b>Staff</b></a>
                <ul id="Staff" class="collapse list-unstyled Drop_list_color ">
                  <li  class="active"><a href="/StaffDashboard">Staff Dashboard</a></li>
                  <li ><a href="/SalaryDashboard">Salary Dashboard</a></li>
                </ul>
              </li>
              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#GST"> <i class="icon icon-bars"></i><b>Miscellaneous</b></a>
                <ul id="GST" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/ExpenseDashboard">Expense Dashboard</a></li>
                  <li><a href="/ReminderDashboard">Reminder Dashboard</a></li>
<li><a href="/CustomInvoiceMaker">Custom Invoice Maker</a></li>
                </ul>
              </li>

              <li class="list_color bg-grey" ><a href="#" > <i class="icon icon-mail"></i><b>Email Marketing</b> </a></li>
            </ul>

            <div class="calendar">
          <p id="monthName"></p>
          <p id="dayName"></p>
          <p id="dayNumber"></p>
          <p id="year"></p>
         </div>
          </nav>

          <!-- ================================================================= Menu END =================================================================== -->
          <!-- ================================================================================================================================================= -->



        <div class="content-inner"  style="overflow-y:scroll;height:1px">

          <div class="pulledLeft mt-2">
            <h4>&nbsp;&nbsp;&nbsp;STAFF DASHBOARD</h4>
          </div>
          <br>
          <div class="data-table-area mg-b-15">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="sparkline13-list">
                              <div class="sparkline13-graph">
                                  <div class="datatable-dashv1-list custom-datatable-overright">
                                      <div id="toolbar">
                                          <select class="form-control dt-tb">
                        <option value="">Export Basic</option>
                        <option value="all">Export All</option>
                        <option value="selected">Export Selected</option>
                      </select>
                                      </div>



                                              <div class="admintab-wrap edu-tab1 mg-t-30">


                                                  <ul class="nav nav-tabs nav-fill justify-content-center">
                                                    <li class="nav-item">
                                                      <a class="nav-link active" data-toggle="tab" href="#STAFF_TABLE" onClick="window.location.reload()">CURRENT STAFF DATA</a>
                                                    </li>
                                                    <li class="nav-item">
                                                      <a class="nav-link" data-toggle="tab" href="#ADD_STAFF">+ ADD STAFF</a>
                                                    </li>
                                                    <li class="nav-item">
                                                      <a class="nav-link" data-toggle="tab" href="#UPDATE_DELETE_STAFF" id="thirdtab">UPDATE / DELETE STAFF INFORMATION</a>
                                                    </li>
                                                  </ul>





                                                  <div class="tab-content">
                                                    <div id="STAFF_TABLE" class="tab-pane active in flipInX custon-tab-style1">
                                                      <br>

                                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-key-events="true"  data-resizable="true" data-cookie="true"
                                                          data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" style="font-size:15px;color:#000">
                                                          <thead>
                                                              <tr>
                                                                 <th data-field="state" data-checkbox="true"></th>
                                                                  <th data-field="Client ID"   >ID</th>
                                                                  <th data-field="Client Name"  >Staff Name</th>
                                                                  <th data-field="Phone No"  >Phone No.</th>
                                                                  <th data-field="Address">Address</th>
                                                                  <th data-field="Document " >Document</th>
                                                                  <th data-field="Document No " >Document  No.</th>
                                                                  <th data-field="Action" >Action</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody>
                                                              {% for i in StaffData %}
                                                              <tr>
                                                                 <td></td>
                                                                  <td class="font-weight-bold">{{i.staff_id}}</td>
                                                                  <td class="text-left font-weight-bold">&nbsp;{{i.Name}}</td>
                                                                  <td>{{i.Contact_no}}</td>
                                                                  <td class="text-left">&nbsp;{{i.Address}}</td>

                                                                  {% if i.DT==None %}
                                                                  <td>-</td>
                                                                  {% endif %}
                                                                  {% if i.DT!=None %}
                                                                  <td>{{i.DT}}</td>
                                                                  {% endif %}

                                                                  {% if i.DN==None %}
                                                                  <td>-</td>
                                                                  {% endif %}
                                                                  {% if i.DN!=None %}
                                                                  <td>{{i.DN}}</td>
                                                                  {% endif %}

                                                                  <td> <a onClick="SearchStaffInfoTable({{i.staff_id}})"data-toggle="tooltip" data-placement="left" title='Click here to Edit'  data-trigger="hover" ><img src="/static/img/edit.png" alt="" style='width:20px;height:20px' class="mx-2"></a>  <a onClick="DeleteButtonTable({{i.staff_id}})" data-toggle="tooltip" data-placement="left" title='Click here to Delete'  data-trigger="hover" ><img src="/static/img/delete.png" alt="" style='width:20px;height:20px' class="mx-2"></a></td>
                                                              </tr>
                                                               {% endfor %}
                                                          </tbody>
                                                      </table>
                                                      <br><br>
                                                    </div>

                                                      <div id="ADD_STAFF" class="tab-pane  flipInX custon-tab-style1">
                                                        <br><br>

                                                        <form id="ADD_STAFF_FORM">
                                                        <span style="font-size:15px;background:#e0e0e0;font-weight:600" class="px-4 py-1 " >&nbsp; &nbsp; Personal Information  &nbsp;&nbsp;</span>
                                                          <div class="row" style="border-top: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0; background: #e0e0e05e;margin : 0px;" > <!-- First row-->
                                                        <div class="col">
                                                        <div class="form-group cols_pad">
                                                        <label for="staff_FN" class="form-control-sm lable_define" >First Name<span class="required">*</span></label>
                                                        <input type="text" class="form-control form-control-sm rounded" id="staff_FN" ng-model="staff.FN"   required>
                                                        </div>
                                                        </div>
                                                        <div class="col">
                                                        <div class="form-group cols_pad">
                                                        <label for="staff_LN" class="form-control-sm lable_define" >Last Name<span class="required">*</span></label>
                                                        <input type="text" class="form-control form-control-sm rounded" id="staff_LN" ng-model="staff.LN"    required>
                                                        </div>
                                                        </div>
                                                        <div class="col-6 ">
                                                        <div class="form-group cols_pad">
                                                        <label for="staff_address" class="form-control-sm lable_define" >Full Address<span class="required">*</span></label>
                                                        <textarea class="form-control form-control-sm rounded" id="staff_address rounded" rows="1" ng-model="staff.address"  required></textarea>
                                                        </div>
                                                        </div>
                                                     </div>



                                                          <div class="row" style=" border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0; background: #e0e0e05e;margin : 0px;" > <!-- First row--> <!-- 3rd row-->
                                                        <div class="col">
                                                        <div class="form-group cols_pad">
                                                        <label for="sts" class="form-control-sm lable_define" >State<span class="required">*</span></label>
                                                      <select onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" class="form-control form-control-sm rounded"  ng-model="staff.state"></select>
                                                        </div>
                                                        </div>
                                                        <div class="col">
                                                        <div class="form-group cols_pad">
                                                        <label for="state" class="form-control-sm lable_define" >City<span class="required">*</span></label>
                                                        <select id ="state" class="form-control form-control-sm rounded" required  ng-model="staff.city"></select>
                                                        <script language="javascript">print_state("sts");</script>
                                                        </div>
                                                        </div>
                                                        <div class="col ">
                                                        <div class="form-group cols_pad">
                                                        <label for="staff_PC" class="form-control-sm lable_define" >Pin Code<span class="required">*</span></label>
                                                        <input type="text" class="form-control form-control-sm rounded" id="staff_PC" ng-model="staff.pincode"  maxlength="7">
                                                        </div>
                                                        </div>
                                                        <div class="col ">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_gender" class="form-control-sm lable_define" >Gender</label>
                                                          <div class="input-group">
                                                            <div class="input-group-prepend">
                                                              <div class="input-group-text rounded-left"><i class="fa fa-venus-mars" aria-hidden="true"></i></div>
                                                            </div>

                                                          <select class="form-control form-control-sm rounded-right " ng-model="staff.gender" ng-options="item for item in GENDERS" id="client_gender" style="font-size:15px"></select>
                                                        </div>  </div>
                                                      </div>
                                                     </div>

                                                      <div class="row" style=" border-bottom: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0; background: #e0e0e05e;margin : 0px;" > <!-- First row-->
                                                       <div class="col">
                                                         <div class="form-group cols_pad">
                                                         <label for="staff_CN" class="form-control-sm lable_define" >Contact Number<span class="required">*</span></label>
                                                         <div class="input-group">
                                                           <div class="input-group-prepend">
                                                             <div class="input-group-text rounded-left"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                                           </div>

                                                         <input type="text" maxlength="10" class="form-control form-control-sm" id="staff_CN" ng-model="staff.contactNumber" style="background: #ffffe1;" required>
                                                       </div></div>
                                                       </div>
                                                       <div class="col">
                                                         <div class="form-group cols_pad">
                                                         <label for="staff_email" class="form-control-sm lable_define" >Email ID</label>
                                                         <div class="input-group">
                                                           <div class="input-group-prepend">
                                                             <div class="input-group-text rounded-left"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                                           </div>

                                                         <input type="email" class="form-control form-control-sm" id="staff_email" ng-model="staff.email" style="background: #ffffe1;" >
                                                       </div></div>
                                                       </div>
                                                       <div class="col ">
                                                         <div class="form-group cols_pad" >
                                                           <label for="staff_DOB" class="form-control-sm lable_define" >Date Of Birth</label>
                                                           <div class="input-group">
                                                             <div class="input-group-prepend">
                                                               <div class="input-group-text rounded-left"><i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                                                             </div>
                                                           <input  class="form-control form-control-sm" type="date" id="staff_DOB" ng-model="staff.DOB" >
                                                       </div>           </div>
                                                       </div>

                                                  <div class="col"><div class="form-group cols_pad"></div></div>
                                                  </div>

                                                  <span style="font-size:15px;background:#e0e0e0;font-weight:600;"  class=" px-4 py-1 mt-4">&nbsp; &nbsp; Work Information : &nbsp;&nbsp;</span>

                                                  <div class="row" style="background: #e0e0e05e;border-top: 2px solid #e0e0e0;border-bottom: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0;margin : 0px;" > <!-- 5th row-->
                                                  <div class="col">
                                                  <div class="form-group cols_pad">
                                                  <label for="staff_Designation" class="form-control-sm lable_define" >Designation<span class="required">*</span></label>
                                                  <div class="input-group">
                                                    <div class="input-group-prepend">
                                                      <div class="input-group-text rounded-left"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                                    </div>

                                                  <select class="form-control form-control-sm rounded-right" ng-model="staff.Designation" ng-options="item for item in Designation" id="staff_Designation"   style="font-size:15px"></select>
                                                </div>  </div>  </div>
                                                <div class="col">
                                                <div class="form-group cols_pad">
                                                <label for="staff_SA" class="form-control-sm lable_define" >Salary Amount <span class="required">*</span></label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text rounded-left"><i class="fa fa-inr" aria-hidden="true"></i></div>
                                                  </div>

                                                <input type="number" class="form-control form-control-sm" id="staff_GSTIN" ng-model="staff.SA" style="background: #ffffe1;" >
                                                </div></div>
                                                </div>

                                                <div class="col">
                                                <div class="form-group cols_pad">
                                                <label for="staff_WH" class="form-control-sm lable_define" >Working Hours</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text rounded-left"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                                  </div>

                                                <input type="number" class="form-control form-control-sm" id="staff_GSTIN" ng-model="staff.WH" style="width:65px">
                                                </div></div>
                                                </div>

                                                 <div class="col"><div class="form-group cols_pad"></div></div>
                                                 </div>

                                             <span  style="font-size:15px;background:#e0e0e0;font-weight:600"  class=" px-4 py-1 mt-4  ">&nbsp;&nbsp;&nbsp; Identity Information   &nbsp;&nbsp;&nbsp;</span>
                                             <div class="row" style="background: #e0e0e05e;border-top: 2px solid #e0e0e0;border-bottom: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0;margin : 0px;" > <!-- 6th row-->
                                                <div class="col">
                                                <div class="form-group cols_pad">
                                                <label for="staff_DT" class="form-control-sm lable_define" >Document Type</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text rounded-left"><i class="fa  fa-file" aria-hidden="true"></i></div>
                                                  </div>

                                                <select class="form-control  form-control-sm  rounded-right" ng-model="staff.DT" ng-options="item for item in DOCUMENTTYPE" id="staff_DT"   style="font-size:15px"></select>
                                                </div> </div>
                                                </div>
                                                <div class="col">
                                                <div class="form-group cols_pad">
                                                <label for="staff_DN" class="form-control-sm lable_define" >..staff.DT.. Number</label>
                                                <div class="input-group">
                                                  <div class="input-group-prepend">
                                                    <div class="input-group-text rounded-left"><i class="fa  fa-dashcube" aria-hidden="true"></i></div>
                                                  </div>
                                                <input type="text" class="form-control form-control-sm" id="staff_DN" ng-model="staff.DN" value=""  >
                                                </div></div>
                                                </div>
                                                <div class="col"><div class="form-group cols_pad"></div></div>
                                                <div class="col"><div class="form-group cols_pad"></div></div>
                                                </div>
                                                <br>

                                                   <div class="row" > <!-- 4th row-->
                                                     <div class="col"><div class="form-group cols_pad"></div> </div>
                                                     <div class="col"><div class="form-group cols_pad"></div> </div>
                                                    <div class="col">
                                                    <div class="form-group cols_pad">
                                                    <button type="button" id="addbutton" class="btn btn-dark" ng-click="SubmitStaffForm(staff)"  style="width:150px;height:37px;font-size:14px; " ng-disabled="addstaffbutton"><i class="fa fa-plus-square" aria-hidden="true" ></i>&nbsp;&nbsp;Add Staff</button>
                                                    </div>
                                                    </div>
                                                    <div class="col"><div class="form-group cols_pad">
                                                    <button type="reset" class="btn btn-warning" style="width:150px;height:37px;font-size:14px;" ><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp;Reset</button>
                                                    </div> </div>
                                                    <div class="col"><div class="form-group cols_pad"></div> </div>
                                                    <div class="col"><div class="form-group cols_pad"></div> </div><div class="col"><div class="form-group cols_pad"></div> </div>
                                                    </div>

                                              </form>
                                              </div>




                                                      <div id="UPDATE_DELETE_STAFF" class="tab-pane  flipInX custon-tab-style1">
                                                        <br>
                                                        <form id="UPDATE_DELETE_STAFF_INFO_SEARCH" autocomplete="off" role="search" class="sr-input-func">
                                                        <div class="breadcome-heading" style="float:right">


                                                        <div class="input-group">
                                                          <div class="autocomplete" style="width:300px;display:flex">
                                                            <input type="text" id="searchTab"  placeholder="Search..." class="search-int form-control rounded" style="width:225px" autocomplete="off">
                                                            <a style="text-decoration:none;border:1px solid #dadada;border-radius:0px 20px 20px 0px" href="#" ng-click="SearchStaffInfo()" data-toggle="tooltip" data-placement="bottom" title='Click here to search client'  data-trigger="hover">&nbsp;&nbsp;<img src="/static/img/search person.png"style="width:28px;height:28px;margin-top:4px;margin-right:10px" /></a>
                                                        </div>
                                                      </div>


                                                        </form>
                                                        </div>
                                                        <br><br>

                                                       <form id="UPDATE_DELETE_STAFF_FORM" autocomplete="off">

                                                         <div ng-if="DATA_PRESENT_FOR_UPDATE">
                                                         <!-- If block -->
                                                         <p style="text-align:center"><img src="/static/img/no data.png" style="width:70%;height:70%;"   alt=""><p>
                                                         </div>
                                                          <!-- else block -->
                                                        <div ng-repeat="s in STAFF_DATA">
                                                      <span style="font-size:15px;background:#e0e0e0;font-weight:600" class="px-4 py-1 " >&nbsp; &nbsp; Personal Information  &nbsp;&nbsp;</span>
                                                          <div class="row" style="border-top: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0; background: #e0e0e05e;margin : 0px;" > <!-- First row-->
                                                          <div class="col">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_FN" class="form-control-sm lable_define" >First Name<span class="required">*</span></label>
                                                          <input type="text" class="form-control form-control-sm rounded" id="staff_FN" ng-model="s.First_Name"   required>
                                                          </div>
                                                          </div>
                                                          <div class="col">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_LN" class="form-control-sm lable_define" >Last Name<span class="required">*</span></label>
                                                          <input type="text" class="form-control form-control-sm rounded" id="staff_LN" ng-model="s.Last_Name"    required>
                                                          </div>
                                                          </div>

                                                        <div class="col-6 ">
                                                        <div class="form-group cols_pad">
                                                        <label for="staff_address" class="form-control-sm lable_define" >Full Address<span class="required">*</span></label>
                                                        <textarea class="form-control form-control-sm rounded" id="staff_address " rows="1" ng-model="s.Address"  required></textarea>
                                                        </div>
                                                        </div>
                                                     </div>



                                                        <div class="row" style=" border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0; background: #e0e0e05e;margin : 0px;" > <!-- 3rd row-->
                                                          <div class="col">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_city" class="form-control-sm lable_define" >City<span class="required">*</span></label>
                                                          <input type="text" class="form-control form-control-sm rounded" id="staff_city" ng-model="s.City"  required>
                                                          </div>
                                                          </div>
                                                          <div class="col">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_state" class="form-control-sm lable_define" >State<span class="required">*</span></label>
                                                          <input type="text" class="form-control form-control-sm rounded"  id="staff_state" ng-model="s.State"  required>
                                                          </div>
                                                          </div>
                                                          <div class="col ">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_PC" class="form-control-sm lable_define" >Pin Code<span class="required">*</span></label>
                                                          <input type="text" class="form-control form-control-sm rounded" id="staff_PC" ng-model="s.Pincode"  >
                                                          </div>
                                                        </div>
                                                        <div class="col ">
                                                          <div class="form-group cols_pad">
                                                          <label for="staff_gender" class="form-control-sm lable_define" >Gender</label>
                                                          <div class="input-group">
                                                            <div class="input-group-prepend">
                                                              <div class="input-group-text rounded-left"><i class="fa fa-venus-mars" aria-hidden="true"></i></div>
                                                            </div>
                                                          <select class="form-control form-control-sm rounded" ng-model="s.Gender" ng-options="item for item in GENDERS" id="client_gender" style="font-size:15px"></select>
                                                        </div>  </div>
                                                      </div>
                                                     </div>

                                                    <div class="row" style="border-bottom: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0; background: #e0e0e05e;margin : 0px;" >  <!-- 4th row-->
                                                      <div class="col">
                                                      <div class="form-group cols_pad">
                                                      <label for="staff_CN" class="form-control-sm lable_define" >Contact Number<span class="required">*</span></label>
                                                      <div class="input-group">
                                                        <div class="input-group-prepend">
                                                          <div class="input-group-text rounded-left"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                                        </div>

                                                      <input type="text" maxlength="10" class="form-control form-control-sm rounded-right" id="staff_CN" ng-model="s.Contact_No" style="background: #ffffe1;" required>
                                                      </div></div>
                                                      </div>
                                                      <div class="col">
                                                      <div class="form-group cols_pad">
                                                      <label for="staff_email" class="form-control-sm lable_define" >Email ID</label>
                                                      <div class="input-group">
                                                        <div class="input-group-prepend">
                                                          <div class="input-group-text rounded-left"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                                        </div>

                                                      <input type="text" class="form-control form-control-sm rounded-right" id="staff_email" ng-model="s.email" style="background: #ffffe1;" >
                                                      </div></div>
                                                      </div>
                                                      <div class="col ">
                                                      <div class="form-group cols_pad" >
                                                      <label for="staff_DOB" class="form-control-sm lable_define" >Date Of Birth</label>
                                                      <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text rounded-left"><i class="fa fa-birthday-cake" aria-hidden="true"></i></div>
                                                      </div>
                                                      <input  class="form-control form-control-sm rounded-right" type="date" id="staff_DOB_UPDATE" ng-value="s.DOB" >
                                                       </div>         </div>
                                                       </div>
                                                       <div class="col"><div class="form-group cols_pad"></div></div>
                                                  </div>

                                                  <span style="font-size:15px;background:#e0e0e0;font-weight:600;"  class=" px-4 py-1  mt-4">&nbsp; &nbsp; Work Information : &nbsp;&nbsp;</span>

                                                  <div class="row" style="background: #e0e0e05e;border-top: 2px solid #e0e0e0;border-bottom: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0;margin : 0px;" ><!-- 5th row-->
                                                    <div class="col">
                                                    <div class="form-group cols_pad">
                                                    <label for="staff_Designation" class="form-control-sm lable_define" >Designation<span class="required">*</span></label>
                                                    <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text rounded-left"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                                                      </div>
                                                    <select class="form-control form-control-sm rounded-right" ng-model="s.Designation" ng-options="item for item in Designation" id="staff_Designation"   style="font-size:15px"></select>
                                                    </div>  </div>  </div>
                                                    <div class="col">
                                                    <div class="form-group cols_pad">
                                                    <label for="staff_SA" class="form-control-sm lable_define" >Salary Amount <span class="required">*</span></label>
                                                    <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text rounded-left"><i class="fa fa-inr" aria-hidden="true"></i></div>
                                                      </div>
                                                    <input type="number" class="form-control form-control-sm rounded-right" id="staff_SA" ng-model="s.SA" style="background: #ffffe1;" >
                                                    </div>  </div>
                                                    </div>
                                                    <div class="col">
                                                    <div class="form-group cols_pad">
                                                    <label for="staff_WH" class="form-control-sm lable_define" >Working Hours</label>
                                                    <div class="input-group">
                                                      <div class="input-group-prepend">
                                                        <div class="input-group-text rounded-left"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                                      </div>

                                                    <input type="number" class="form-control form-control-sm rounded-right" id="staff_WH" ng-model="s.WH" style="width:65px">
                                                    </div></div>
                                                    </div>
                                                    <div class="col"><div class="form-group cols_pad"></div></div>
                                                 </div>

                                                  <span  style="font-size:15px;background:#e0e0e0;font-weight:600"  class=" px-4 py-1 mt-4  ">&nbsp;&nbsp;&nbsp; Identity Information   &nbsp;&nbsp;&nbsp;</span>

                                                  <div class="row" style="background: #e0e0e05e;border-top: 2px solid #e0e0e0;border-bottom: 2px solid #e0e0e0;border-left: 2px solid #e0e0e0;border-right: 2px solid #e0e0e0;margin : 0px;" > <!-- 6th row-->
                                                   <div class="col">
                                                   <div class="form-group cols_pad">
                                                   <label for="staff_DT" class="form-control-sm lable_define" >Document Type</label>
                                                   <div class="input-group">
                                                     <div class="input-group-prepend">
                                                       <div class="input-group-text rounded-left"><i class="fa  fa-file" aria-hidden="true"></i></div>
                                                     </div>

                                                   <select class="form-control form-control-sm rounded-right" ng-model="s.DT" ng-options="item for item in DOCUMENTTYPE" id="staff_DT"   style="font-size:15px"></select>
                                                   </div> </div>
                                                   </div>
                                                   <div class="col">
                                                   <div class="form-group cols_pad">
                                                   <label for="staff_DN" class="form-control-sm lable_define" >..s.DT.. Number</label>
                                                   <div class="input-group">
                                                     <div class="input-group-prepend">
                                                       <div class="input-group-text rounded-left"><i class="fa  fa-dashcube" aria-hidden="true"></i></div>
                                                     </div>

                                                   <input type="text" class="form-control form-control-sm rounded-right" id="staff_DN" ng-model="s.DN" value=""  >
                                                   </div>   </div>
                                                   </div>
                                                   <div class="col"><div class="form-group cols_pad"></div></div>
                                                   <div class="col"><div class="col"><div class="form-group cols_pad">  <input type="hidden" ng-model="s.Staff_ID"></div></div></div>
                                                   </div>
                                                   <br>

                                                     <div class="row" > <!-- 4th row-->
                                                       <div class="col"><div class="form-group cols_pad"></div> </div>
                                                       <div class="col"><div class="form-group cols_pad"></div> </div>
                                                     <div class="col">
                                                     <div class="form-group cols_pad">
                                                    <button type="button" class="btn btn-dark" ng-click="Update_Staff_Information(s)"  style="width:150px;height:37px;font-size:14px; "><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Update</button>
                                                    </div>
                                                    </div>
                                                    <div class="col"><div class="form-group cols_pad">
                                                    <button type="reset" class="btn btn-warning" style="width:150px;height:37px;font-size:14px; " ><i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;&nbsp; Reset</button>
                                                    </div> </div>
                                                    <div class="col"><div class="form-group cols_pad">
                                                    <button type="button" class="btn btn-danger"  ng-click="Delete_Staff_Information(s)" style="width:150px;height:37px;font-size:14px; " ><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Delete</button>
                                                    </div> </div>


                                                    <div class="col"><div class="form-group cols_pad"></div> </div><div class="col"><div class="form-group cols_pad"></div> </div>
                                                    </div>
                                                    </form>
                                                     </div></div>

                                                  </div>
                                              </div>
                                          </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
      </div>

    <!-- jquery
    ============================================ -->
    <script src="/static/js/js2/vendor/jquery-1.12.4.min.js"></script>

    <!-- data table JS
    ============================================ -->
    <script src="/static/js/js2/data-table/bootstrap-table.js"></script>
    <script src="/static/js/js2/data-table/tableExport.js"></script>
    <script src="/static/js/js2/data-table/data-table-active.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-table-editable.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-editable.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-table-resizable.js"></script>
    <script src="/static/js/js2/data-table/colResizable-1.5.source.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-table-export.js"></script>

    <script type="text/javascript">
    //Disc_in_percentage
        $('#staff_CN').keyup(function () {
          this.value = this.value.replace(/[^0-9\.]/g,'');
        });

      document.getElementById('staff_PC').addEventListener('input', function (e) {
      e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{3})/g, '$1 ').trim();
     });
    </script>

  {% endblock %}
