{% extends 'base.html' %}

{% block head %}
    <script src="/static/js/Header Bar controller/Header Bar controller.js"></script>


  <link rel="stylesheet" href="/static/css/css2/data-table/bootstrap-table.css">
  <link rel="stylesheet" href="/static/css/css2/data-table/bootstrap-editable.css">


  {% endblock %}

  {% block body %}

    <div class="page" style="background:white;">
      <!-- Main Navbar-->
      <!-- ================================================================================================================================================= -->
      <!-- ================================================================= Header Start =================================================================== -->
      <header class="header"  ng-controller="HEADER~CONTROLLER">
        <nav class="navbar">


          <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
              <!-- Navbar Header-->

              <div class="navbar-header">
                <div id="MyClockDisplay" class="clock" onload="showTime()"></div>
              </div>

              <!-- Navbar Menu -->
              <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

                <!-- Header Bar-->
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"    href="#"  data-toggle="modal" data-target="#Daily_Summary_model" ><img  src="/static/img/Header icon/data anaylsis.png" > Daily summary &nbsp; &nbsp; &nbsp; </li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"    href="#"  data-toggle="modal" data-target="#Stock_Summary_model" ><img src="/static/img/Header icon/stock.png" > Stock summary &nbsp; &nbsp; &nbsp;</li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"   href="#" data-toggle="modal" data-target="#Business_Book_model"><img src="/static/img/Header icon/business analysis.png" > Business Book  &nbsp; &nbsp; &nbsp;</li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none"   href="#" data-toggle="modal" data-target="#GST_model"  ><img src="/static/img/Header icon/gst calculator.png" > GST Calculator &nbsp; &nbsp; &nbsp;</li>
               <li class="nav-item d-flex align-items-center"><a class="text-decoration-none" href="#" data-toggle="modal" data-target="#Calculator_model "  ><img src="/static/img/Header icon/calculator.png" > Calculator &nbsp; &nbsp; &nbsp;</li>


                <!-- Notifications-->
                <li class="nav-item dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i style="font-size:27px;position: relative;top:-10px" class="fa fa-bell-o"></i><span class="badge bg-red badge-corner" style="position: relative;top:-20px;">..NotificationsLength..</span></a>
                  <ul aria-labelledby="notifications" class="dropdown-menu" ng-show="NotificationsLength!=0">
                    <li  ng-repeat="noti in Notifications"><a rel="nofollow" href="#" class="dropdown-item">
                        <div class="notification row">
                        <div>  <i class="fa fa-bell  ml-2" style="background:red" ng-show="noti.NOTIFICATION_TYPE=='reminder'"></i> <i class="fa fa-birthday-cake  ml-2" style="background:#1ad453" ng-show="noti.NOTIFICATION_TYPE=='birthday'"></i> </div>  <div class="col notification-content text-wrap text-justify" >..noti.NOTIFICATION_MESG.. </div>
                     </div></a></li>
                  </ul>
                </li>

                <li class="nav-item d-flex align-items-center"><a class="text-decoration-none pl-1 pr-1 " ><img  src="/static/img/Header icon/online.png"  ng-show="online"> <img  src="/static/img/Header icon/offline.png"  ng-show="!online" style="width:30px;height:30px"></li>


               <!-- battery-->
                  <li class="nav-item">
                         <div class="battery mx-3" >
                           <div class="level">
                             <div class="percentage"></div>
                           </div>
                           <div class="cindtr">
                             <i id="bolt" class="fa fa-bolt boltcolor">
                             </i>
                           </div>
                         </div>
                         <!-- <div class="percent"></div>
                         <div class="ntfn"></div> -->
                </li>


                <li class="nav-item d-flex align-items-center"><a class="text-decoration-none pl-1  " data-toggle="popover" id="Information"  data-trigger="hover" data-html="true" data-placement="bottom"   data-template='<div class="popover " role="tooltip"  style="background:#000"><div class="arrow " ></div><div class="popover-body"></div></div>'  ><img  src="../static/img/Header icon/info.png" > </li>
                  <div id="InformationTemplate" class="d-none">
                   

                  </div>


                <!-- Setting    -->
                  <li class="nav-item d-flex align-items-center dropdown"> <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><img src="/static/img/Header icon/settings.png"></a>
                    <ul aria-labelledby="notifications" class="dropdown-menu" style="top:60px">
                      <li><a rel="nofollow" href="/Setting/User Profile" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-user" style="background:#05a586"></i>User Profile</p>
                      </a></li>
                      <li><a rel="nofollow" href="/Setting/Shop Profile" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-building" style="background:#e8c902"></i>Shop Profile</p>
                      </a></li>
                      <li><a rel="nofollow" href="/Setting/Subscription" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-shopping-cart" style="background:#02b811"></i>Subscription</p>
                      </a></li>
                      <li><a rel="nofollow" href="/Setting/Terms & Condition" class="dropdown-item py-0 my-0">
                            <p><i class="fa fa-bandcamp" style="background:#0244b8"></i>Set Terms & Condition</p>
                      </a></li>
                    </ul>
                  </li>

                <li class="nav-item"><a href="#" class="nav-link logout" ng-click="shutdownServer()"  ><img src="/static/img/Header icon/power.png"></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!-- ================================================================= Header End =================================================================== -->
      <!-- ================================================================================================================================================= -->

      <div class="page-content d-flex align-items-stretch"  >
        <!-- Side Navbar -->
        <!-- ================================================================================================================================================= -->
        <!-- ================================================================= Menu Start =================================================================== -->
          <nav class="side-navbar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
               <a href="/Setting/User Profile" class="text-decoration-none"><div class="avatar"><img src="/static/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div></a>
              <div class="title">
                <a href="/Setting/User Profile" class="text-decoration-none"><span style="color: #333;font-size: 1.1rem;font-weight:700 ;" class="my-1 text-capitalize" id="OWNER_NAME"></a> </span>
                <p>Owner </p>
              </div>
            </div>
            <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
            <ul class="list-unstyled">
              <li class=" list_color"><a href="/"> <i class="icon-home"></i><b>Home </b></a></li>
              <li class=" list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Sale"> <i class="icon icon-check"></i><b>Sale</b></a>
                <ul id="Sale" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/AddNewInvoice.do">Add New Invoice</a></li>
                  <li><a href="/ManageInvoice.do">Manage Invoices</a></li>
                  <li ><a href="/SaleAnalysis/1998">Sale Analysis <i class="icon icon-presentation pl-4"></i> </a></a></li>
                  <li><a href="/ManageQuotation.do">Manage Quotation</a></li>
                </ul>
              </li>
              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Purchase"> <i class="icon icon-bill"></i><b>Purchase</b></a>
                <ul id="Purchase" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/AddNewPurchase.do">Add Purchase Bill</a></li>
                  <li><a href="/ManagePurchaseBill.do">Manage Purchase Bill</a></li>
                  <li><a href="/PurchaseAnalysis/1998">Purchase Analysis<i class="icon icon-presentation pl-1"></i> </a></a></li>
                </ul>
              </li>
              <li class=" list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Client"> <i class="icon icon-user"></i><b>Client / Suppliers</b></a>
                <ul id="Client" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/ClientDashboard">Client Dashboard</a></li>
                  <li ><a href="/ClientAnalysis/1998">Client Analysis <i class="icon icon-presentation pl-4"></i> </a></li>
                  <li><a href="/SupplierDashboard">Supplier Dashboard</a></li>
                      <li><a href="/SupplierAnalysis/1998">Supplier Analysis <i class="icon icon-presentation pl-2"></i> </a></li>
                </ul>
              </li>
              <li class=" active list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Inventory"> <i class="icon icon-grid"></i><b>Inventory</b></a>
                <ul id="Inventory" class="collapse list-unstyled Drop_list_color">
                  <li class="active"><a href="/StockDashboard">Stock Dashboard</a></li>
                  <li><a href="/InventoryDashboard">Inventory Dashboard</a></li>
                </ul>
              </li>

              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Report"> <i class="fa fa-bar-chart"></i><b>Report</b></a>
                <ul id="Report" class="collapse list-unstyled Drop_list_color">
                  <li><a href="/PaymentReport">Payment</a></li>
                  <li><a href="/StockReport">Stock</a></li>
                  <li><a href="/SaleReport">Sales</a></li>
                  <li><a href="/PurchaseReport">Purchase</a></li>
                  <li><a href="/ClientReport">Client</a></li>
                  <li><a href="/SupplierReport">Supplier</a></li>
                  <li><a href="/TransactionReport">Transaction</a></li>
                </ul>
              </li>

              <li class="list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#Staff"> <i class="icon icon-user"></i><b>Staff</b></a>
                <ul id="Staff" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/StaffDashboard">Staff Dashboard</a></li>
                  <li><a href="/SalaryDashboard">Salary Dashboard</a></li>
                </ul>
              </li>
              <li class=" list_color"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse" data-target="#GST"> <i class="icon icon-bars"></i><b>Miscellaneous</b></a>
                <ul id="GST" class="collapse list-unstyled Drop_list_color ">
                  <li><a href="/ExpenseDashboard">Expense Dashboard</a></li>
                  <li><a href="/ReminderDashboard">Reminder Dashboard</a></li>
<li><a href="/CustomInvoiceMaker">Custom Invoice Maker</a></li>
                </ul>
              </li>

              <li class="list_color bg-grey" ><a href="#" > <i class="icon icon-mail"></i><b>Email Marketing</b> </a></li>
            </ul>

            <div class="calendar">
          <p id="monthName"></p>
          <p id="dayName"></p>
          <p id="dayNumber"></p>
          <p id="year"></p>
         </div>
          </nav>

          <!-- ================================================================= Menu END =================================================================== -->
          <!-- ================================================================================================================================================= -->



        <div class="content-inner"  style="overflow-y:scroll;height:1px">

          <div class="pulledLeft mt-3">
            <h4>&nbsp;&nbsp;&nbsp;STOCK DASHBOARD</h4>
          </div>

          <br>

          <div class="data-table-area mg-b-15">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="sparkline13-list">
                              <div class="sparkline13-graph">
                                  <div class="datatable-dashv1-list custom-datatable-overright">

                                              <div class="admintab-wrap edu-tab1 mg-t-30">


                                                      <!-- Nav tabs -->
                                                        <ul class="nav nav-tabs nav-fill justify-content-center">
                                                          <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#STOCK" ><span class="mx-5"> STOCK SUMMARY </span></a>
                                                          </li>
                                                          <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#ABOUT_TO_OUT">ABOUT TO OUT</a>
                                                          </li>
                                                          <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#OUT_OF_STOCK" >OUT OF STOCK</a>
                                                          </li>
                                                          <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#PREVIOUSLY_CREDIT" >PREVIOUSLY CREDIT</a>
                                                          </li>
                                                          <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#PREVIOUSLY_DEBIT" >PREVIOUSLY DEBIT</a>
                                                          </li>
                                                        </ul>

                                                  <div class="tab-content">
                                                      <div id="STOCK" class="tab-pane in active  flipInX custon-tab-style1 mt-5">

                                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-key-events="true"  data-resizable="true" data-cookie="true"
                                                            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" style="font-size:15px;color:#000;">
                                                            <thead>
                                                                <tr>
                                                                   <th data-field="state" data-checkbox="true"></th>
                                                                    <th data-field="Stock ID">Stock ID</th>
                                                                    <th data-field="Stock Name">Stock Name</th>
                                                                    <th data-field="Quantity">Quantity</th>
                                                                    <th data-field="Prev Credit Qty">Prev. Credit Qty</th>
                                                                    <th data-field="Prev Credit Date">Prev. Credit Date</th>
                                                                    <th data-field="Prev Debit Qty">Prev. Debit Qty</th>
                                                                    <th data-field="Prev Debit Date">Prev. Debit Date</th>
                                                                    <th data-field="Status" >Status</th>
                                                                    <th data-field="Action" >Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              {% for each in STOCK_DATA %}
                                                                <tr>
                                                                   <td></td>
                                                                    <td  class=" font-weight-bold ">{{each.StockID}}</td>
                                                                    <td class=" text-left font-weight-bold ">{{each.Product_name}}</td>
                                                                    <td class=" font-weight-bold ">{{each.Quantity }}</td>
                                                                    <td>{{each.Prev_Credit_Qty}}</td>
                                                                    <td>{{each.Prev_Credit_Date}}</td>
                                                                    <td>{{each.Prev_Debit_Qty}}</td>
                                                                    <td>{{each.Prev_Debit_Date}}</td>
                                                                    <td>
                                                                      {% if each.Quantity>WARNING_STOCK_COUNT %}<span class="text-white px-4 py-1"  style="font-size:14px;background:#1ea330bf;border-radius:25px">&nbsp; Available &nbsp;</span>{% endif %}
                                                                      {% if each.Quantity<=0 %}<span class="text-white px-3 py-1"  style="font-size:14px;background:#ff0000bf;border-radius:25px">Out OF Stock  </span>{% endif %}
                                                                      {% if each.Quantity<=WARNING_STOCK_COUNT and each.Quantity>0 %}<span class=" px-3 py-1"  style="font-size:14px;background:#ffe400a6;border-radius:25px;color:#6b6b63"> About To Out </span>{% endif %}

                                                                    </td>
                                                                    <td><a href="/AddNewPurchase.do"><img src="/static/img/Add shop.png" data-toggle="tooltip" data-placement="left" title='Click here to add Stock'  data-trigger="hover" style='width:27px;height:27px' class="mx-2 my-0 py-0"></a> </td>
                                                              </tr>
                                                              {% endfor %}

                                                            </tbody>
                                                        </table>
                                                        <br><br>
                                                      </div>


                                  <!-- ************ ADD ABOUT_TO_OUT TAB ****************   -->
                                                       <div id="ABOUT_TO_OUT" class="tab-pane  flipInX custon-tab-style1 mt-5">
                                                         <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-key-events="true"  data-resizable="true" data-cookie="true"
                                                             data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" style="font-size:15px;color:#000;">
                                                             <thead>
                                                                 <tr>
                                                                    <th data-field="state" data-checkbox="true"></th>
                                                                     <th data-field="Stock ID">Stock ID</th>
                                                                     <th data-field="Stock Name">Stock Name</th>
                                                                     <th data-field="Quantity">Quantity</th>
                                                                     <th data-field="Prev Credit Qty">Prev. Credit Qty</th>
                                                                     <th data-field="Prev Credit Date">Prev. Credit Date</th>
                                                                     <th data-field="Prev Debit Qty">Prev. Debit Qty</th>
                                                                     <th data-field="Prev Debit Date">Prev. Debit Date</th>
                                                                     <th data-field="Status" >Status</th>
                                                                     <th data-field="Action" >Action</th>
                                                                 </tr>
                                                             </thead>
                                                             <tbody>
                                                               {% for each in STOCK_DATA %}
                                                                 {% if each.Quantity < WARNING_STOCK_COUNT and each.Quantity>0 %}
                                                                 <tr>
                                                                    <td></td>
                                                                     <td class=" font-weight-bold ">{{each.StockID}}</td>
                                                                     <td class="font-weight-bold text-left">{{each.Product_name}}</td>
                                                                     <td class=" font-weight-bold ">{{each.Quantity }}</td>
                                                                     <td>{{each.Prev_Credit_Qty}}</td>
                                                                     <td>{{each.Prev_Credit_Date}}</td>
                                                                     <td>{{each.Prev_Debit_Qty}}</td>
                                                                     <td>{{each.Prev_Debit_Date}}</td>
                                                                     <td><span class=" px-3 py-1"  style="font-size:14px;background:#ffe400a6;border-radius:25px;color:#6b6b63">About To Out </span></td>
                                                                     <td><a href="/AddNewPurchase.do"><img src="/static/img/Add shop.png" data-toggle="tooltip" data-placement="left" title='Click here to add Stock'  data-trigger="hover" style='width:27px;height:27px' class="mx-2 my-0 py-0"></a> </td>
                                                               </tr>
                                                               {% endif %}
                                                               {% endfor %}

                                                             </tbody>
                                                           </table>
                                                               <br><br>
                                                  </div>
                                    <!-- *********************** END ADD ABOUT_TO_OUT TAB **********************   -->

                                              <!-- *********************** OUT_OF_STOCK TAB **********************   -->

                                                      <div id="OUT_OF_STOCK" class="tab-pane  flipInX custon-tab-style1 mt-5">

                                                        <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-key-events="true"  data-resizable="true" data-cookie="true"
                                                            data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" style="font-size:15px;color:#000;">
                                                            <thead>
                                                                <tr>
                                                                   <th data-field="state" data-checkbox="true"></th>
                                                                    <th data-field="Stock ID">Stock ID</th>
                                                                    <th data-field="Stock Name">Stock Name</th>
                                                                    <th data-field="Quantity">Quantity</th>
                                                                    <th data-field="Prev Credit Qty">Prev. Credit Qty</th>
                                                                    <th data-field="Prev Credit Date">Prev. Credit Date</th>
                                                                    <th data-field="Prev Debit Qty">Prev. Debit Qty</th>
                                                                    <th data-field="Prev Debit Date">Prev. Debit Date</th>

                                                                    <th data-field="Status" >Status</th>
                                                                    <th data-field="Action" >Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                              {% for each in STOCK_DATA %}
                                                                {% if each.Quantity<=0 %}
                                                                <tr>
                                                                   <td></td>
                                                                    <td class=" font-weight-bold ">{{each.StockID}}</td>
                                                                    <td class="font-weight-bold text-left">{{each.Product_name}}</td>
                                                                    <td class=" font-weight-bold ">{{each.Quantity }}</td>
                                                                    <td>{{each.Prev_Credit_Qty}}</td>
                                                                    <td>{{each.Prev_Credit_Date}}</td>
                                                                    <td>{{each.Prev_Debit_Qty}}</td>
                                                                    <td>{{each.Prev_Debit_Date}}</td>
                                                                    <td><span class="text-white px-3 py-1"  style="font-size:14px;background:#ff0000bf;border-radius:25px">Out OF Stock</span></td>
                                                                    <td><a href="/AddNewPurchase.do"><img src="/static/img/Add shop.png" data-toggle="tooltip" data-placement="left" title='Click here to add Stock'  data-trigger="hover" style='width:27px;height:27px' class="mx-2 my-0 py-0"></a> </td>
                                                              </tr>
                                                              {% endif %}
                                                              {% endfor %}
                                                            </tbody>
                                                          </table>
                                                              <br><br>
                                                     </div>
                                                         <!-- *********************** OUT_OF_STOCK TAB END**********************   -->

                                                         <!-- *********************** PREVIOUSLY_CREDIT TAB **********************   -->

                                                                 <div id="PREVIOUSLY_CREDIT" class="tab-pane  flipInX custon-tab-style1 mt-5">

                                                                  <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-key-events="true"  data-resizable="true" data-cookie="true"
                                                                      data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" style="font-size:15px;color:#000;">
                                                                      <thead>
                                                                          <tr>
                                                                             <th data-field="state" data-checkbox="true"></th>
                                                                              <th data-field="Stock ID">Stock ID</th>
                                                                              <th data-field="Stock Name">Stock Name</th>
                                                                              <th data-field="Quantity">Quantity</th>
                                                                              <th data-field="Date">Date</th>
                                                                              <th data-field="Credit Cost">Credit Cost</th>
                                                                              <th data-field="Supplier Name">Supplier Name</th>
                                                                              <th data-field="Availability" >PO Number</th>

                                                                          </tr>
                                                                      </thead>
                                                                      <tbody>
                                                                        {% for each in PREV_CREDIT_DATA %}
                                                                          <tr>
                                                                             <td></td>
                                                                             <td class="font-weight-bold">{{each.Stock_ID}}</td>
                                                                             <td class="text-left font-weight-bold ">{{each.Product_name}}</td>
                                                                             <td class="text-right  pr-5 ">{{each.Qty}} <i class="fa fa-level-up" aria-hidden="true" style="color:#0cc712"></i></td>
                                                                             <td>{{each.Prev_Credit_Date}}</td>
                                                                             <td class="text-left pl-2 "> <i class="fa fa-inr" aria-hidden="true"></i> {{each.Amount}}</td>
                                                                             <td class="text-left font-weight-bold px-3">{{each.Suppliername}}</td>
                                                                             <td  class=" font-weight-bold "> <a href="/Display_Bill_For_Purchase.do/{{each.P_Bill_NO}}/old" style="color:#000">PO{{each.P_Bill_NO}}</a></td>
                                                                          </tr>
                                                                          {% endfor %}

                                                                      </tbody>
                                                                  </table>
                                                                      <br><br>
                                                                </div>
                                                                    <!-- *********************** PREVIOUSLY_CREDIT TAB END**********************   -->

                                                                    <!-- *********************** PREVIOUSLY_DEBIT TAB **********************   -->

                                                                            <div id="PREVIOUSLY_DEBIT" class="tab-pane  flipInX custon-tab-style1 mt-5">

                                                                              <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-key-events="true"  data-resizable="true" data-cookie="true"
                                                                                  data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" style="font-size:15px;color:#000;">
                                                                                  <thead>
                                                                                      <tr>
                                                                                         <th data-field="state" data-checkbox="true"></th>
                                                                                          <th data-field="Stock ID">Stock ID</th>
                                                                                          <th data-field="Stock Name">Stock Name</th>
                                                                                          <th data-field="Quantity">Quantity</th>
                                                                                          <th data-field="Date">Date</th>
                                                                                          <th data-field="Debit Cost">Debit Cost</th>
                                                                                          <th data-field="Customer Name">Customer Name</th>
                                                                                          <th data-field="Invoice No" >Invoice No.</th>
                                                                                      </tr>
                                                                                  </thead>
                                                                                  <tbody>
                                                                                    {% for each in PREV_DEBIT_DATA %}
                                                                                      <tr>
                                                                                         <td></td>
                                                                                         <td class="font-weight-bold">{{each.Stock_ID}}</td>
                                                                                         <td class="text-left font-weight-bold ">{{each.Product_name}}</td>
                                                                                         <td class="text-right  pr-5 ">{{each.Qty}} <i class="fa fa-level-down" aria-hidden="true" style="color:red"></i></td>
                                                                                         <td>{{each.Prev_Debit_Date}}</td>
                                                                                         <td class="text-left pl-2 "><i class="fa fa-inr" aria-hidden="true"></i> {{each.Amount}}</td>
                                                                                         <td class="text-left font-weight-bold px-3">{{each.ClientName}}</td>
                                                                                         <td class=" font-weight-bold ">  <a href="/Display_Bill_For_Invoice.do/{{each.Invoice_NO}}/old" style="color:#000"> {{each.Invoice_NO}} </a></td>
                                                                                      </tr>
                                                                                      {% endfor %}

                                                                                  </tbody>
                                                                              </table>
                                                                                  <br><br>
                                                                           </div>
                                                                               <!-- *********************** PREVIOUSLY_DEBIT TAB END**********************   -->
                                                  </div>
                                                </div>
                                              </div>
                                          </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>


    <!-- jquery
    ============================================ -->
    <script src="/static/js/js2/vendor/jquery-1.12.4.min.js"></script>

    <!-- data table JS
    ============================================ -->
    <script src="/static/js/js2/data-table/bootstrap-table.js"></script>
    <script src="/static/js/js2/data-table/tableExport.js"></script>
    <script src="/static/js/js2/data-table/data-table-active.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-table-editable.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-editable.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-table-resizable.js"></script>
    <script src="/static/js/js2/data-table/colResizable-1.5.source.js"></script>
    <script src="/static/js/js2/data-table/bootstrap-table-export.js"></script>


  {% endblock %}
